BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 180
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach # K&R 형태
SpaceBeforeParens: ControlStatements
